.footer {
  padding: 0 12%;
  background-color: #171f3f;
  padding-bottom: 4rem;
  &__description {
      font-size: 1.25rem;
      color: white;
      line-height: 36px;
      font-weight: 300;
      max-width: 700px;
      padding-bottom: 1rem;
  }
  &__mail {
    color: #0593fb;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid #0593fb;
    padding-bottom: 10px;
  }
  &__fb {
      padding-right: 1rem;
  }
  &__contact {
      padding-top: 2rem;
  }
}

.contact {
    position: relative;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    line-height: 44px;
    padding-top: 7rem;
    margin: 0;
    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 4px;
        bottom: 4rem;
        background: url("../assets/img/decoline-lightblue.svg");
      }
    }
