.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects {
  background-color: #f5f7fa;
  padding: 0 12%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  &__description {
    color: #52606d;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 36px;
    max-width: 700px;
  }
  &__header {
    color: #171f3f;
    font-size: 1.9rem;
    font-weight: 600;
  }
}

.project {
  background: #fff;
  box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
  border-radius: 8px;
  list-style: none;
  margin: 0.75rem;
  &__description {
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: #52606d;
  }
  &__links {
    background: #f5f7fa;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 3rem 1rem 1rem;
    &--demo {
      background: none;
      border: none;
      border-right: 1px solid rgb(179, 185, 192);
      color: #0593fb;
      padding-right: 1rem;
      text-decoration: none;
      &::before {
        content: "";
        background: url("../assets/img/demo-icon.svg");
        height: 24px;
        padding-right: 25px;
        width: 24px;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
    &--github {
      background: none;
      border: none;
      color: #0593fb;
      padding-left: 1rem;
      text-decoration: none;
      &::before {
        content: "";
        background: url("../assets/img/code-icon.png");
        height: 24px;
        padding-right: 25px;
        width: 24px;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &__logo {
    height: 40px;
    margin: 2rem 0 1rem 2rem;
    width: 40px;
  }
  &__title {
    color: #171f3f;
    margin-left: 2rem;
  }
}
