.know {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__item {
    color: #52606d;
    font-size: 0.9rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 18px;
      height: 18px;
      margin-right: 4px;
      background: url("../assets/img/check-circle-green.svg");
    }
  }
  &__title {
    font-size: 1.5rem;
    color: #171f3f;
    display: flex;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 4px;
      top: 10.5rem;
      background: url("../assets/img/Decoline-green.svg");
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }
}

.knowSomething {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7rem;
  &__item {
    color: #52606d;
    font-size: 0.9rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 18px;
      height: 18px;
      margin-right: 4px;
      background: url("../assets/img/check-circle-purple.svg");
    }
  }
  &__title {
    font-size: 1.5rem;
    color: #171f3f;
    display: flex;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 4px;
      top: 29.5rem;
      background: url("../assets/img/Decoline-purple.svg");
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }
}

.wantKnow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 7rem 0;
  &__item {
    color: #52606d;
    font-size: 0.9rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 18px;
      height: 18px;
      margin-right: 4px;
      background: url("../assets/img/check-circle-blue.svg");
    }
  }
  &__title {
    font-size: 1.5rem;
    color: #171f3f;
    display: flex;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 4px;
      top: 46.5rem;
      background: url("../assets/img/Decoline-blue.svg");
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }
}

.mySkills {
  position: relative;
  padding: 0 12%;
  margin-top: 9rem;
  &__header {
    font-size: 1.9rem;
    font-weight: 600;
    color: #171f3f;
    border-bottom: 2px solid rgba(203, 210, 217, 0.5);
    padding-bottom: 12px;
    margin-bottom: 9rem;
  }
}


