.know {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.knowSomething {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.wantKnow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.mySkills {
  padding: 0 10%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
