@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  border: 16px solid #171f3f;
  padding-left: 128px;
}

.header__photo {
  width: 120px;
  height: 120px;
  padding: 6px;
  margin-top: 128px;
  margin-bottom: 32px;
  border-radius: 50%;
  border: 7px solid;
  border-color: #cbd2d9;
}

.header {
  width: 60%;
  margin-right: 128px;
}

.know {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.knowSomething {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.wontKnow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects__header {
  grid-column: 1/2;
}

.projects__description {
  grid-column: 1/2;

}

