@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  border: 16px solid #171f3f;
}

.footer {
  padding-left: 8%;
  background-color: #171f3f;
}

.header {
  width: 60%;
  margin-right: 128px;
  padding-left: 8%;
  &__description {
    color: #52606d;
    line-height: 36px;
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 60px;

    &--nav {
      color: #0593fb;
    }
  }
  &__mail {
    color: #0593fb;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid #0593fb;
    padding-bottom: 10px;
  }
  &__name {
    color: #cbd2d9;
    display: inline;
    font-size: 3rem;
    margin: 10px;
    padding-left: 20px;
    font-weight: 600;
  }
  &__photo {
    width: 120px;
    height: 120px;
    padding: 6px;
    margin-top: 128px;
    border-radius: 50%;
    border: 7px solid;
    border-color: #cbd2d9;
    display: inline;
  }
  &__title {
    font-size: 40px;
    color: #171f3f;
    font-weight: 600;
    line-height: 46px;
  }
}

.projects {
  background-color: #e3e6ea;
  padding-left: 8%;
  padding-right: 8%;
}

.know {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.knowSomething {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.wontKnow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mySkills {
  padding-left: 8%;
}
