@import "_normalize";
@import "_variables";
@import "_about";
@import "_skills";
@import "_projects";
@import "_contact";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  border: 16px solid #171f3f;
}

a:hover {
  color: #2251cc;
}
